{% extends 'spend/base.html' %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}

    <h2>Plan Your Budget! In Smart And Comfortable Way!</h2>
    <p class="col-1-12">
    See how much you earn and spend monthly by recoding your transactions history.
    </p>
    <center><img src="../../static/spend/img/01.jpg" class="rounded mx-auto img-fluid" alt="Image of main page"></center>


    <h2 class="col-1-12">Connect Your Family!</h2>
    <p class="col-1-12">
    Add all your family members to see the same transactions and statistics!<br>
    Easy way to see where you spend most of your money. No paperworks!</p>
    </p>
    <center><img src="../../static/spend/img/02.jpg" class="rounded mx-auto img-fluid" alt="Image of history page"></center>
    <h2 class="col-1-12">Record Transactions!</h2>
    <p class="col-1-12">See all your transactions. With our filters it's become even easier!</p class="col-1-12">
    <h2 class="col-1-12">It's Time To Start To Spend Smart!</h2>

{% endblock %}

{% block additional_css %}

    <link rel="stylesheet" href="../../static/spend/css/unauthorized.css">

{% endblock %}